.openvs_graphics_checkbox {
  appearance: none;
  background-color: #121212;
  padding: 9px;
  border: 1px solid #121212;
  border-radius: 3px;
}
.openvs_graphics_checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.openvs_graphics_checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #6e6e6e;
}

.openvs_graphics_input {
  width: calc(100% - 6px);
  height: calc(100% - 6px);

  border: none;
  border-radius: 3px;

  margin: 0px;
  padding: 2px;

  background-color: #121212;
  border: 1px solid #0f0f0f;

  box-shadow: none;

  color: white;

  transition: 0.1s;
}
.openvs_graphics_input:focus-visible {
  /*outline-offset: -1px;
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;*/
  outline: none;

  border-color: white;
}
